body{
    background-color: rgb(2, 2, 94);
}
.tytle{
    color: yellow;
    text-align: center;
}
p{
    color: white;
    text-align: center;
}
span{
    color: green;
}
.tr,td{
    border: 1px solid yellow;
}
table{
    width: 100%;
    color: white;height: 80px;
}
.m1{
    width: 100%;
}
.m2{
    text-align: center;
    background-color: yellow;
    border-radius: 10px;
    width: 100px;
}